.site-header__wrapper {
  background: $site-header-bgcolor;
}

header[role=banner] {

  .site-name {
    display: none;
  }

  .site-logo {
    text-align: center;

    @include breakpoint($tablet-l) {
      text-align: left;
      width: 300px;
    }

    img {
      width: 90%;
      height: auto;
      flex-basis: 100%;

      @include breakpoint($tablet-l) {
        width: 100%;
        max-width: 290px;
      }
    }

  }
}

.dug-twitter {
  margin: 0;
  a {
    padding: 1rem;
    // background: blue;
    display: inline-block;
    color: #FFF;

    @include breakpoint($tablet-l) {
      margin-left: 15rem;
      padding: 0;
      color: black;
    }
  }
  // display: block;

}

nav.menu--main {
  background: black;
  width: 100%;
  padding: 0 1rem;

  @include breakpoint($tablet-l) {
    width: auto;
    padding: 0 2rem;
  }

  ul {
    text-align: center;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @include breakpoint($tablet-l) {
      justify-content: space-between;
    }
  }

  li.menu-item {
    // display: inline-block;
    padding: 0;
  }
  a {
    padding: 1rem 1rem;
    white-space: nowrap;
    display: block;
    color: #FFF;
    text-decoration: none;

    @include breakpoint($tablet-l) {
      padding: 1rem;
    }
  }
  a.is-active {
    color: $neo-green;
  }
}

nav.menu--account {
  ul.menu {
    text-align: right;
  }
  li.menu-item {
    padding: 0;
  }

  a {
    padding: 1rem 1rem;
    white-space: nowrap;
    display: inline-block;
    // background: blue;
    color: #FFF;

    @include breakpoint($tablet-l) {
      padding: 1rem;
      text-decoration: none;
    }
  }
}
