.section {
  //@extend %debug-container;
}

//TODO: more purposeful semantic, e.g. page-section or section-block

/* Section: Layout */

.section {
  box-sizing: border-box;
  padding: 5em 2%;
}

.section-content {
  margin: 0 auto;
  
  max-width: 960px;
}
  
/* Section: Skinning */

.section-title {
  font-size: 1.8em;
  line-height: 1.2em;
}

/* odd/even BG */
 
.section:nth-of-type(2n+1) {
 background: rgb(240,245,240);
}
