{%
  set classes = [
    'section',
    'section-type--view',
    content.field_section_link ? 'section--has-link'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <section>
    {{ content.field_section_title }}
    {{ content.field_section_view }}
    {{ content.field_section_link }}
  </section>
</div>
