@mixin typo() {
  h1, h2, h3, h4, h5, h6, p, li, blockquote {
    max-width: 40em;
  }
  p, li {
    margin-bottom: 1.4em;
  }
  p + p, li + li {
    margin-top: -.7em;
  }
}

body {
  font: 16px/1.5 "Helvetica Neue",helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
}
h1, h2 {
  font-size: 36px;
}
