@mixin typo() {
  h1, h2, h3, h4, h5, h6, p, li, blockquote {
    max-width: 40em;
  }
  p, li {
    margin-bottom: 1.4em;
  }
  p + p, li + li {
    margin-top: -.7em;
  }
}

html {
  font-size: 62.5%;
  line-height: $line-height-default;
}

body {
  font-family: $font-default; // 16px/1.5 "Helvetica Neue",helvetica,Arial,sans-serif;
  font-size: $font-size-default;
  font-weight: 400;
  color: $font-color-default;

  @include breakpoint($tablet-p) {}
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  // font-weight: 700;
  font-family: $font-headline;
}

h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}

strong, b {
  font-weight: 700;
}

p {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}
