// breakpoints

$mobile: 320px;
$smartphone: 480px;
$tablet-p: 700px;
$tablet-l: 1000px;
$laptop: 1200px;
$laptop-hd: 1440px;


// Colors

$color-black: #444;
$color-grey: #a29d9d;
$color-grey-light: #f5f2ee;
$color-accent-1: DeepSkyBlue; //charteuse;
$color-accent-2: #ffc40b;

$neo-green: #ADFF96;

$border-color-light: #CCC;

$link-color: #36B8FF; // $color-accent-1;

$font-color-default: $color-black;
$font-color-medium: #666;

$input-color-default: $font-color-default;
$font-color-button: #FFF;

$site-header-bgcolor: #36B8FF;

$color-light-green: #ADFF96;

$pad-default: 24px; // ? Wofür ist diese Variable gedacht?

$field-border-color: #666;

// Font settings

// @import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic");
// @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic");

// $font-sans: "Source Sans Pro", sans-serif;
$font-default: "Source Sans Pro", sans-serif;
$font-headline: "Source Sans Pro", sans-serif;
// $font-serif: 'Bitter', serif;
// $font-round: 'Nunito', sans-serif;

$font-size-default: 1.8rem;
$line-height-default: 1.5;

$font-size-bigger: 2.1rem;

$font-weight-default: 400;


// variables used in normalize settings
$h1-font-size: 4.0rem !default;
$h2-font-size: 2.8rem;
$h3-font-size: 2.2rem;
$h4-font-size: 1.8rem;

$headline-letter-spacing: -0.1rem;
